<!-- <p>main works!</p>
<div id="map"></div> -->
<body>
  <h1>
    <div id="state">Michigan</div>
    <div id="what">Culture</div>
    <div id="how">1Exchange</div>
  </h1>
  <div class="dropdown">
    <button (click)="myFunction()" class="dropbtn">Dropdown</button>
    <div *ngIf="showDropDown === true" id="myDropdown" class="dropdown-content">
      <a href="#">Detroit </a>
      <a href="#">Ann Arbor</a>
      <a href="#">Lansing</a>
      <a href="#">Grand Rapids</a>
      <a href="#">Dearborn</a>
      <a href="#">Hamtramck</a>
      <a href="#">Pontiac</a>
      <a href="#">Saginaw</a>
      <a href="#">Albion</a>
      <a href="#">Flint</a>
      <a href="#">Traverse City</a>
      <a href="#">Sault St Marie</a>
      <a href="#">Mackinac</a>
    </div>
  </div>
  <p>"Connecting with Michiganders"</p>

  <!-- In above section, cities will be on home page and will hyperlink to separate component with the Google map 
    image and the "learn" database -->
</body>
